.SampleWork_container {
  margin-top: 100px;
}
.SampleWork_container > p {
  font-size: 20px;
  border-bottom: #417c79c9 solid 5px;
  padding-bottom: 8px;
  border-radius: 2px;
  width: fit-content;
  margin-bottom: 20px;
}
.SampleWork_nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.Link {
  margin: 20px;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  border-radius: 18px;
  transition: all 0.3s ease;
}
.SampleWork_container_items {
  width: 100%;
  height: fit-content;
  padding: 10px;
  transition: ease 0.5s all;
  overflow: hidden;
}
.SampleWork_activeLink {
  background-color: #417c79c9;
  margin: 20px;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  transition: all 0.3s ease;
  border-radius: 18px;
}
.SampleWork_container_2 {
  transition: all 0.4s ease;
}
